<div class="app-display-table app-loading" *ngIf="loading">
  <div class="app-table-cell app-clean-pd">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<div class="app-display-table app-container">
  <div class="app-table-cell">
    <div fxLayout="row">
      <mat-card fxFlex class="app-row-gap-32">
        <mat-card-header>
          <mat-card-title>{{ 'desc.project_desc' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Integrované centrální vyhledávací rozhraní INPROVE je zastřešující aplikace, která poskytuje
            ucelený přehled o datech shromážděných o jednotlivých dokumentech napříč mnoha
            informačními zdroji relevantními pro postupy efektivní správy, ochrany a budování
            novodobých konzervačních fondů.
          </p>
          <p>
            Prostřednictvím centrálního vyhledávacího rozhraní INPROVE je možné komplexně
            prohledávat datové sety, které jsou uloženy v nativních, samostatně fungujících systémech –
            Registr digitalizace, Virtuální depozitní knihovna, Aplikace pro průzkum fondů, Databáze
            provenienčních znaků, které jsou na sebe nezávislé. Z tohoto důvodu a díky jejich postupnému
            vzniku netvořily tyto nástroje ucelený informační zdroj, který dokáže podat komplexní
            informaci o stavu exempláře či jeho úrovni digitalizace.
          </p>
          <p>
            To se nyní mění. Pomocí tohoto vyhledávacího rozhraní a porovnávacímu algoritmu je možné
            poskytnout na jednom místě unikátní souhrn dat, která budou sloužit ke kvalitnímu srovnání
            odborných pracovních postupů realizovaných na konkrétních dokumentech a statisticky
            podloženým manažerským rozhodnutím vedoucím k trvalé ochraně bohemikálního kulturního
            dědictví.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="32px" class="app-sources-wrapper">
      <ng-container *ngFor="let source of config.sources">
        <mat-card fxFlex="1 1 calc(20% - 32px)" [class]="'app-source-' + source.label" class="app-card-source">
          <mat-card-header>
            <mat-card-title fxLayout="row">
              <a fxFlex (click)="setSource(source)">{{ source.label + '.name' | translate }}</a>
              <a href="{{ source.url }}" title="{{ source.url }}" target="_blank"
                [matTooltip]="'desc.link_to_external_app' | translate">
                <mat-icon>launch</mat-icon>
              </a>
            </mat-card-title>
          </mat-card-header>
          <mat-card-actions *ngIf="source.searchable">
            <strong>{{ state.totals[source.label]}}</strong> {{'desc.records' | translate}}
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>