<!-- <section class="app-container" id="app-chart-bar">
  <app-flot [options]="options" #chart
    (onClick)="onClick($event)"
    (onSelection)="onSelection($event)"
    [height]="height" [width]="width"></app-flot>
  <div class="app-nav">
    <span>{{ranges[0]}} - {{ranges[1]}}</span>
    <button (click)="use()" mz-button [flat]="true" mz-tooltip [tooltip]="'text.pouzit-tento-filtr' | translate" [position]="'top'" class="app-brand-text text-app-brand">
      {{'btn.use' | translate}}
    </button>
    <button (click)="clear()" mz-button [flat]="true" mz-tooltip [tooltip]="'text.zrusit-tento-filtr' | translate" [position]="'top'">
      <i class="app-mdi-close-circle app-brand-text text-app-red"></i>
    </button>
    <span class="right" *ngIf="showTotal">
      {{'label.pocet-nalezenych' | translate}}: <strong>{{state.numFound}}</strong> {{'text.pocet-nalezenych' | translate}}
    </span>
  </div>
</section> -->

<div>
  <app-flot [options]="options" #chart
      (clicked)="onClick($event)"
      (selectionChanged)="onSelection($event)"
      [height]="height" [width]="width">
  </app-flot>
  </div>
