// --- VDK ITEM ---

app-vdk-item {  
  .mat-card {
    .mat-card-header {
      .mat-card-header-text {
        .mat-card-title {
          scroll-margin-bottom: $app-gap;

          .mat-icon-button {
            vertical-align: top;
          }
        }
  
        .mat-card-subtitle {
          margin-bottom: 0;
        }
      }
    }

    .mat-card-content {
      .app-mat-table-container {
        max-height: 200px;
        overflow: auto;
        
        .mat-table {
          thead {
            .mat-header-row {
              height: $app-table-head-row-height;

              .mat-header-cell {
                &.mat-column-zdroj {
                  width: 120px;
                }

                &.mat-column-signatura {
                  width: 135px;
                }

                &.mat-column-status {
                  width: 165px;
                }
  
                &.mat-column-dilciKnih {
                  padding-left: $app-gap-icon;
                }
              }
            }
          }

          tbody {
            .mat-row {
              height: $app-table-body-row-height;

              .mat-cell {
                &.mat-column-status {
                  padding: 0 $app-gap-icon 0 8px;
                }

                &.mat-column-dilciKnih {
                  padding-left: $app-gap-icon;
                }

                @include setStatusColor();

                &:last-child {
                  text-align: right;
                }
              }
            }
          }
        }
      }
    }

    .mat-card-actions {
      padding-top: 0;

      &.app-card-actions-top {
        border-bottom: 1px solid $app-gray-3;
        padding-left: $app-gap;
        padding-right: $app-gap;
        margin-left: -#{$app-gap};
        margin-right: -#{$app-gap};
        padding-bottom: 13px;

        .app-info-text {
          font-size: .9rem;
          margin-left: $app-gap-icon;
          color: $app-gray-7;

          .app-price {
            margin-right: 2px;
          }

          .mat-icon-button {
            margin-right: 0;

            .mat-icon {
              margin-right: 0;
            }
          }

          label {
            color: $app-color-darknes;
            font-weight: bold;
          }
        }
      }

      &.app-card-actions-bottom {
        margin-top: -5px;
      }

      .mat-icon {
        margin-right: 5px;
      }
    }
  }
}